$font: 15px/17px "MarkOT", Arial, "Helvetica Neue", Helvetica, sans-serif;

$tablet-width: 700px;//changed from 768
$laptop-width: 1024px;
$desktop-width: 1440px;
$fourk-width: 2880px;

$pink: #E51F59;
$light-pink: #F5B5BA;
$grey: #3C3C3B;
$light-grey: #F5F5F5;
$med-grey: #C6C6C5;

//display none while still being available to screen readers
.hidden {
  position: absolute;
  left: -9999px;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$fourk-width - 1px}) {
    @content;
  }
}

@mixin fourk {
  @media (min-width: #{$fourk-width}) {
    @content;
  }
}

@mixin greater_than_tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

//flexbox prefixer
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-center() {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin row-reverse() {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@font-face {
  font-family: "markOT";
  src: local("☺︎"),
    url("assets/MarkOT-Bold_5.woff2") format("woff2"),
    url("assets/MarkOT-Bold_5.woff") format("woff"),
    url("assets/MarkOT-Bold_5.otf") format("opentype"),
    url("assets/MarkOT-Bold_5.eot"),
    url("assets/MarkOT-Bold_5.eot?#iefix") format("embedded-opentype"),
    url("assets/MarkOT-Bold_5.ttf") format("truetype");
}

body {
  font: $font;

  @include desktop {
    font-size: 21px;
    line-height: 24px;
  }

  @include fourk {
    font-size: 42px;
    line-height: 48px;
  }
}

p {
  color: $med-grey;
}