.process {
  background-color: $grey;
  padding: 0 0 50px;

  @include tablet {
    padding-top: 20px;
  }

  @include fourk {
    padding: 0 0 150px;
  }

  svg {
    width: 50px;
    height: auto;
    margin: 50px auto;

    @include tablet {
      margin: 70px auto;
    }

    @include desktop {
      width: 90px;
    }

    @include fourk {
      width: 180px;
      margin: 150px auto;
    }
  }

  li {
    width: 264px;
    margin: 0 auto;
    // opacity: 0;
    // transform: translateY(20px);
    // @include transition(transform .55s cubic-bezier(.25,.1,.25,1), opacity .9s cubic-bezier(.25,.1,.25,1));

    @include fourk {
      width: 725px;
    }
  }

  li + li {
    @include tablet {
      margin: 0 0 0 80px;
    }
  }

  h1 {
    color: white;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    @include transition(transform .55s cubic-bezier(.25,.1,.25,1), opacity .9s cubic-bezier(.25,.1,.25,1));
  }

  p {
    margin: 25px auto 0;
    color: #7C7B7B;
    opacity: 0;
    transform: translateY(20px);
    @include transition(transform .55s cubic-bezier(.25,.1,.25,1), opacity .9s cubic-bezier(.25,.1,.25,1));
  }

  ul {
    max-width: 2580px;
    margin: 0 auto;

    @include greater_than_tablet {
      @include flexbox;
      padding: 0 60px;
    }
  }
}

.research {

  svg {
    transform: rotate(-30deg);
    opacity: 0;
    @include transition(transform .7s cubic-bezier(.25,.1,.25,1), opacity .5s cubic-bezier(.25,.1,.25,1));
  }
}

.strategy {

  svg {
    transform: rotate(45deg) translateY(30px) scale(0.5);
    opacity: 0;
    @include transition(transform .6s cubic-bezier(.25,.1,.25,1), opacity .6s cubic-bezier(.25,.1,.25,1));
    @include greater_than_tablet {
      @include transition(transform .6s cubic-bezier(.25,.1,.25,1) .4s, opacity .6s cubic-bezier(.25,.1,.25,1) .4s);
    }
  }
}

.engagement {

  svg {
    transform: translateY(50px);
    opacity: 0;
    @include transition(transform .6s cubic-bezier(.25,.1,.25,1), opacity .6s cubic-bezier(.25,.1,.25,1));
    @include greater_than_tablet {
      @include transition(transform .6s cubic-bezier(.25,.1,.25,1) .8s, opacity .6s cubic-bezier(.25,.1,.25,1) .8s);
    }
  }
}